.edit-profile .container>.item {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.edit-profile .container .item label {
  margin-bottom: 6px;
  font-weight: 600;
}

.edit-profile .container .item input {
  border-radius: 5px;
  border: 2px solid var(--border-color);
  padding: 12px 16px;
  font-size: 16px;
}

.edit-profile .container .item button:hover {
  background: var(--background-color-green);
}

.edit-profile .container>.item:last-of-type>label {
  font-size: 18.5px;
  margin-top: 25px;
}

.edit-profile+.save .container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
  padding-top: 40px;
}

.edit-profile+.save .container button {
  background: var(--primary-color);
  width: 200px;
}

.edit-profile+.save .container button:hover {
  background: var(--primary-color-variation);
}

.edit-profile #phone.warning {
  border-color: var(--text-red) !important;
}

@media (max-width: 768px) {
  .edit-profile+.save .container {
    width: 100%;
  }

  .edit-profile+.save .container .btn-holder,
  .edit-profile+.save .container .btn-holder .btn {
    width: 100% !important;
  }
}