.cart-container {
  padding: 40px 50px;
  width: 100%;
  background: #f1f1f1;
  border-bottom: 1px solid var(--grey-color-variation-1);
}

.cart-container .empty-cart {
  margin: 0 auto;
  text-align: center;
}

.cart-container .empty-cart h2 {
  font-size: 28px;
  color: var(--text-black);
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 30px;
}

.cart-container .empty-cart .empty-cart-button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  background: var(--text-black);
  border-radius: 5px;
  max-width: 240px;
  transition: 0.3s;
}

.cart-container .empty-cart .empty-cart-button:hover {
  background: var(--primary-color);
  transition: 0.3s;
}

.cart-container .contant {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  padding: 20px 30px;
  margin: 0 auto;
}

.cart-container .total-price {
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cart-container .checkout {
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.cart-container .checkout-button {
  padding: 10px 30px;
  color: #fff;
  border: none;
  outline: none;
  background: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.cart-container .checkout-button:hover {
  background: var(--primary-color-variation);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .cart-container {
    padding: 20px 25px;
  }

  .cart-container .contant {
    padding: 0;
  }

  .cart-container .total-price {
    margin-top: 60px;
  }
}
