.contact-container {
  padding: 30px 40px;
  width: 100%;
  background: var(--grey-color-variation-3);
}

.contact-container .contant {
  max-width: 100%;
}

.contact-container h2 {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--text-black);
}

.contact-container h2 .contact-icon {
  position: relative;
  top: 6px;
  font-size: 32px;
}

.contact-container p {
  display: inline-block;
  color: var(--grey-color-variation-1);
  margin-top: 10px;
  margin-right: 5px;
}

.contact-container p .chevron {
  position: relative;
  top: 2px;
}

.contact-container p .link {
  text-decoration: none;
  color: var(--grey-color-variation-1);
  transition: 0.3s;
}

.contact-container p .link:hover {
  color: var(--primary-color);
  transition: 0.3s;
}

.contact-container .contant .form {
  padding: 20px 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin-top: 30px;
}

.contact-container .contant .form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container .contant .form form h3 {
  letter-spacing: 1px;
  color: var(--grey-color-variation-1);
}

.contact-container .contant .form form input {
  padding: 10px 30px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid var(--border-color);
  width: 350px;
  margin-top: 20px;
}

.contact-container .contant .form form textarea {
  padding: 10px 30px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid var(--border-color);
  width: 350px;
  margin-top: 20px;
  resize: vertical;
}

.contact-container .contant .form form button {
  margin-top: 30px;
  width: 350px;
  padding: 10px 0;
  border: none;
  outline: none;
  background: var(--text-black);
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  transition: 0.3s;
}

.contact-container .contant .form form button:hover {
  background: var(--primary-color);
  transition: 0.3s;
}

@media (max-width: 540px) {
  .contact-container {
    padding: 30px 10px;
  }

  .contact-container .contant h2 {
    font-size: 26px;
  }

  .contact-container .contant .form form input,
  .contact-container .contant .form form textarea  {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .contact-container .contant .form form button {
    width: 100%;
  }
}