.top-banner {
  padding: 30px 40px;
  width: 100%;
  background: var(--grey-color-variation-3);
}

.top-banner .container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: var(--page-max-width);
  margin: 0 auto;
}

.top-banner .container .detail {
  margin-top: 8%;
}

.top-banner .container .detail h2 {
  font-size: 52px;
  color: var(--text-black);
  margin-right: 50%;
  margin-bottom: 40px;
}

.top-banner .container .detail .link {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  color: var(--text-black);
  background: #fff;
  transition: 0.3s;
}

.top-banner .container .detail .link:hover {
  color: #fff;
  background: var(--primary-color);
}

.top-banner .container .detail .link svg {
  position: relative;
  top: 2px;
  pointer-events: none;
}

.product-type {
  padding: 20px 30px;
  width: 100%;
}

.product-type .container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding-top: 20px;
}

.product-type .container-slider .box {
  padding: 10px 20px;
  margin-left: 10px;
}

.product-type .container .box .img-box,
.product-type .container-slider .box .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: var(--background-color);
  overflow: hidden;
  cursor: pointer;
}

.product-type .container .box .img-box img,
.product-type .container-slider .box .img-box img {
  height: 140px;
  transition: 0.3s;
}

.product-type .container .box .img-box:hover img,
.product-type .container-slider .box .img-box:hover img {
  transform: scale(1.05);
}

.product-type .container .box .detail,
.product-type .container-slider .box .detail {
  max-width: 100%;
  text-align: center;
}

.product-type .container .box .detail p,
.product-type .container-slider .box .detail p {
  margin-top: 10px;
  color: var(--grey-color-variation-1);
}

.home .about {
  padding: 20px 30px 40px;
  width: 100%;
}

.home .about .container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: var(--page-max-width);
  margin: 0 auto;
  gap: 20px;
}

.home .about .container .box {
  padding: 10px 20px;
  display: flex;
  background: #ecf2f7;
  flex: 1;
  border-radius: 5px;
  pointer-events: none;
}

.home .about .container .box .icon {
  color: var(--primary-color);
  font-size: 32px;
  margin-top: 10px;
  margin-right: 15px;
}

.home .about .container .box .detail {
  margin-top: 5px;
}

.home .about .container .box .detail h3 {
  color: var(--text-black);
}

.home .about .container .box .detail p {
  color: var(--grey-color-variation-1);
}

.product {
  padding: 30px 40px;
  width: 100%;
  background: var(--background-color);
  margin-bottom: 60px;
}

.product h2 {
  font-size: 32px;
  color: var(--text-black);
  width: var(--page-max-width);
  margin: 0 auto 20px;
  font-weight: 600;
}

.product .loading {
  width: 50px;
  margin: 0 auto;
  display: block;
  padding-bottom: 60px;
}

.product .container {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  gap: 15px 20px;
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding-bottom: 20px;
}

.product .container::after {
  content: "";
  flex: auto;
}

.banner {
  padding: 20px 30px;
  width: calc(100% - 20px);
  margin: 0 auto;
  margin-top: -30px;
  margin-bottom: 30px;
}

.banner .container {
  padding: 30px 40px;
  background: var(--primary-color);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  max-width: var(--page-max-width);
  margin: 0 auto;
}

.banner .container .detail {
  margin-top: 3%;
  margin-left: 20px;
}

.banner .container .detail h4 {
  color: var(--text-white);
  font-size: 16px;
  text-transform: uppercase;
}

.banner .container .detail h3 {
  margin-top: 10px;
  font-size: 42px;
  margin-right: 20%;
  letter-spacing: 1px;
  color: #fff;
}

.banner .container .detail p {
  margin-top: 30px;
  color: #fff;
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 30px;
}

.banner .container .detail .link {
  padding: 10px 30px;
  color: var(--text-white);
  background: var(--text-black);
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.banner .container .detail .link:hover {
  color: var(--text-black);
  background: var(--background-color);
  transition: 0.3s;
}

.banner .container .detail .link svg {
  position: relative;
  top: 2px;
}

@media (max-width: 1368px) {
  .product .container {
    gap: 15px;
  }
}

@media (min-width: 1101px) {
  .product-type .container-slider {
    display: none;
  }
}

@media (max-width: 1100px) {
  .top-banner .container {
    display: flex;
    flex-direction: column;
  }

  .top-banner .container .detail h2 {
    margin-right: unset;
  }

  .top-banner .container .img-box img {
    width: 100%;
  }

  .product-type .container {
    display: none;
  }

  .banner .container {
    display: flex;
    flex-direction: column;
  }

  .banner .container .img-box {
    margin-top: 10px;
    margin-left: -45px;
  }

  .banner .container .img-box img {
    width: 100%;
    max-width: 400px;
  }

  .product-type+.about .container .box {
    width: 100% !important;
  }
}

@media (max-width: 540px) {
  .free p {
    font-size: 12px;
    margin-top: 4px;
  }

  .main-header .container .logo img {
    width: 100px;
  }

  .header .container .auth {
    position: unset;
    margin-right: 0;
  }

  .top-banner .container .detail h2 {
    font-size: 32px;
  }

  .top-banner .container .img-box {
    margin-top: 20px;
  }

  .banner .container {
    padding: 10px 2px;
  }

  .banner .container .detail h3 {
    font-size: 20px;
  }

  .banner .container .detail p {
    font-size: 26px;
  }

  .banner .container .detail .link {
    padding: 10px 20px;
  }

  .banner .container .img-box {
    margin-left: 0px;
  }

  .product-type {
    margin-top: 40px;
    padding: 0 !important;
  }
}

@media (max-width: 330px) {
  .home .slick-track {
    width: 1000px !important;
  }

  .product-type {
    margin-top: 40px;
    padding: 0 !important;
  }

  .product-type+.about {
    padding: 20px 25px !important;
  }
}