* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.cart-container {
  padding: 40px 50px;
  width: 100%;
  background: #f1f1f1;
  border-bottom: 1px solid #9a9a9a;
}

.cart-container .empty-cart {
  margin: 0 auto;
  text-align: center;
}

.cart-container .empty-cart h2 {
  font-size: 28px;
  color: #010f1c;
  font-weight: 300;
  text-transform: uppercase;
}

.cart-container .empty-cart .empty-cart-button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  background: #010f1c;
  border-radius: 5px;
  max-width: 240px;
  transition: 0.3s;
}

.cart-container .empty-cart .empty-cart-button:hover {
  background: #6a33e9;
  transition: 0.3s;
}

.cart-container .contant {
  max-width: 100%;
  padding: 20px 30px;
}

.cart-container .contant .cart-item {
  display: flex;
  padding: 20px 30px;
  background: #fff;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cart-container .contant .cart-item .img-box {
  padding: 20px 20px;
  background: #f1f1f1;
}

.cart-container .contant .cart-item .img-box img {
  width: 250px;
  height: 250px;
}

.cart-container .contant .cart-item .detail {
  position: relative;
  margin-left: 30px;
  display: flex;
  flex: 1;
}

.cart-container .contant .cart-item .detail .info h4 {
  text-transform: uppercase;
  font-size: 16px;
  color: #9a9a9a;
  font-weight: 100;
  letter-spacing: 1.5px;
}


.cart-container .contant .cart-item .detail .info h3 {
  margin-top: 20px;
  color: #010f1c;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 1px;
}

.cart-container .contant .cart-item .detail .info p {
  margin-top: 20px;
  color: #010f1c;
  letter-spacing: 1px;
}

.cart-container .contant .cart-item .detail .info .qtd {
  margin-top: 20px;
  display: flex;
}

.cart-container .contant .cart-item .detail .info .qtd .inc-qtd,
.cart-container .contant .cart-item .detail .info .qtd .dec-qtd {
  background: none;
  outline: none;
  border: none;
  color: #6a33e9;
  font-size: 32px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid transparent;
  border-radius: 5px;
  height: 40px;
  width: 40px;
}

.cart-container .contant .cart-item .detail .info .qtd .inc-qtd:hover,
.cart-container .contant .cart-item .detail .info .qtd .dec-qtd:hover {
  transition: 0.3s;
  border: 2px solid #dadada;
}

.cart-container .contant .cart-item .detail .info .qtd input {
  border: none;
  outline: none;
  background: none;
  font-size: 22px;
  color: #010f1c;
  width: 60px;
  text-align: center;
}

.cart-container .contant .cart-item .detail .info .subtotal {
  color: #010f1c;
  font-size: 18px;
  margin-top: 20px;
}

.cart-container .contant .cart-item .detail .close {
  position: absolute;
  right: 0;
}

.cart-container .contant .cart-item .detail .close button {
  border: none;
  outline: none;
  border: none;
  font-size: 22px;
  color: #9a9a9a;
  background: none;
  cursor: pointer;
  transition: 0.3s;
}

.cart-container .contant .cart-item .detail .close button:hover {
  color: #db0045;
  transition: 0.3s;
}

.cart-container .total-price {
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cart-container .checkout {
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.cart-container .checkout-button {
  padding: 10px 30px;
  color: #fff;
  border: none;
  outline: none;
  background: #6a33e9;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.cart-container .checkout-button:hover {
  background: #8961e7;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .cart-container {
    padding: 20px 25px;
  }

  .cart-container .contant {
    padding: 0;
  }

  .cart-container .contant .cart-item .img-box {
    width: 100px;
    height: 100px;
    padding: 0;
  }

  .cart-container .contant .cart-item .img-box img {
    width: 100px;
    height: 100px;
  }

  .cart-container .contant .cart-item .detail .info h3 {
    font-size: 18px;
  }

  .cart-container .contant .cart-item .detail .info .subtotal {
    font-size: 16px;
  }

  .cart-container .total-price {
    margin-top: 60px;
  }
}

@media (max-width: 480px) {
  .cart-container .contant .cart-item {
    display: flex;
    flex-direction: column-reverse;
  }

  .cart-container .contant .cart-item .detail {
    margin-left: 0;
  }

  .cart-container .contant .cart-item .detail .info .subtotal {
    font-size: 14px;
  }

  .cart-container .contant .cart-item .img-box {
    margin-top: 20px;
  }
}