.free {
  padding: 10px 30px;
  padding-top: 16px;
  padding-left: 50px;
  width: 100%;
  background: var(--text-black);
  display: flex;
  pointer-events: none;
}

.free .icon {
  color: #f3b123;
  font-size: 32px;
}

.free p {
  margin-left: 10px;
  color: #f6f7f9;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.main-header {
  padding: 30px 40px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.main-header .container {
  display: flex;
  justify-content: space-between;
}

.main-header .container .logo {
  margin-left: 5px;
}

.main-header .container .logo img {
  width: 160px;
  filter: invert(17%) sepia(95%) saturate(3756%) hue-rotate(256deg) brightness(94%) contrast(94%);
}

.main-header .container .search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  flex: 1;
}

.main-header .container .search-box input {
  outline: none;
  padding: 10px 30px;
  padding-left: 12px;
  border: 3px solid var(--primary-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  flex: 1;
  max-width: 400px;
  font-size: 18px;
  color: var(--text-black);
}

.main-header .container .search-box button {
  position: relative;
  outline: none;
  border: 3px solid var(--primary-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 9px 20px;
  padding-left: 10px;
  cursor: pointer;
  background: var(--primary-color);
  color: var(--text-white);
  font-size: 18px;
  transition: 0.3s;
  height: 50px;
}

.main-header .container .search-box button:hover {
  background: var(--primary-color-variation);
  border: 3px solid var(--primary-color-variation);
  transition: 0.3s;
}

.main-header .container .search-box button .search-icon {
  position: relative;
  top: 2px;
}

.main-header .container .icon {
  display: flex;
  margin-right: 2px;
}

.main-header .container .icon .second-icon {
  display: flex;
}

.main-header .container .icon .second-icon .link {
  margin-right: 5px;
  font-size: 26px;
  color: var(--primary-color);
  transition: 0.3s;
  cursor: default;
}

.main-header .container .icon .second-icon .link svg {
  transition: 0.3s;
  cursor: pointer;
}

.main-header .container .icon .second-icon .link svg:hover {
  color: var(--text-red);
  transition: 0.3s;
}

.main-header .container .icon .account {
  display: flex;
  margin-right: 30px;
}

.main-header .container .icon .account p {
  margin-right: 5px;
  margin-top: 2px;
  font-size: 18px;
}

.main-header .container .icon .account .user-icon {
  margin-right: 10px;
  font-size: 26px;
  color: var(--text-black);
  cursor: pointer;
}

.header {
  width: 100%;
  padding: 20px 30px;
}

.header .container {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}

.header .container .nav ul {
  display: flex;
  margin-left: -5px;
}

.header .container .nav ul li {
  margin-left: 20px;
  list-style: none;
  font-weight: 600;
  font-size: 18px;
}

.header .container .nav ul li .link {
  text-decoration: none;
  color: var(--text-black);
  transition: 0.3s;
}

.header .container .nav ul li .link:hover {
  color: var(--primary-color);
}

.header .container .auth {
  position: relative;
  top: -10px;
  margin-right: 20px;
  font-size: 22px;
  height: 20px;
}

.header .container .auth button {
  font-size: 22px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  background: none;
  transition: 0.3s;
}

.header .container .auth button:hover {
  color: #fff;
  background: var(--primary-color);
  transition: 0.3s;
}

.header .container .auth button span {
  font-size: 18px;
  margin-right: 5px;
}

.header .container .auth .auth-button-icon {
  position: relative;
  top: 6px;
  font-size: 26px;
}

@media (min-width: 1101px) {
  .main-header .container .search-box .search-button-mobile {
    display: none;
  }
}

@media (max-width: 1100px) {
  .main-header .container {
    flex-direction: column;
  }

  .main-header .container .search-box {
    justify-content: flex-start;
    margin-top: 20px;
  }

  .main-header .container .icon .account,
  .main-header .container .icon .second-icon {
    margin-top: 40px;
  }

  .main-header .container .search-box .search-button-desktop {
    display: none;
  }

  .main-header .container .search-box .search-button-mobile {
    position: relative;
    top: 0px;
    font-size: 20px;
    padding: 8px 14px;
  }
}

@media (max-width: 540px) {
  .header .container .nav ul {
    display: flex;
    flex-direction: column;
  }

  .header .container .nav ul li {
    line-height: 2;
  }

  .main-header .container .search-box {
    display: flex;
    margin-right: 0;
  }

  .main-header .container .search-box input {
    width: 100% !important;
  }

  .main-header .container .search-box .search-button-mobile {
    top: 0;
  }
}

@media (max-width: 440px) {
  .free {
    padding-left: 20px;
  }
  .main-header {
    padding: 20px;
  }

  .header {
    padding: 20px 0;
  }
}