* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.products {
  padding: 30px 40px;
  background: #f6f6f6;
}

.products h2 {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #010f1c;
}

.products h2 .products-icon {
  position: relative;
  top: 6px;
  font-size: 32px;
}

.products p {
  margin-top: 10px;
  color: #9a9a9a;
  pointer-events: none;
}

.products p .chevron {
  position: relative;
  top: 2px;
}

.products .container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.products .container .filter {
  display: flex;
  padding: 20px 30px;
}

.products .container .filter .categories {
  margin-right: 100px;
  width: 300px;
}

.products .container .filter .categories h3 {
  color: #010f1c;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
}

.products .container .filter .categories ul {
  margin-top: 10px;
}

.products .container .filter .categories ul li {
  list-style: none;
  margin-top: 20px;
  color: #010f1c;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
}

.products .container .filter .categories ul li:hover {
  color: #6a33e9;
  transition: 0.3s;
  text-decoration: underline;
}

.products .container .product-box .contant {
  display: flex;
  flex-flow: wrap row;
  flex-wrap: wrap;
}

.products .container .product-box .contant::after {
  content: "";
  flex: auto;
}

.products .container .product-box .contant .box {
  padding: 10px 20px;
  overflow: hidden;
  width: 280px;
  height: 400px;
  background: #fff;
  border: 1px solid #e2e0e0;
  margin-bottom: 10px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

.products .container .product-box .contant .box:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s;
}

.products .container .product-box .contant .box .img-box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e2e0e0;
}

.products .container .product-box .contant .box .img-box img {
  width: 210px;
  height: 210px;
  margin-left: 15px;
}

.products .container .product-box .contant .box .img-box .icon {
  position: relative;
  top: -3px;
  right: -50px;
  font-size: 20px;
  transition: 0.3s;
}

.products .container .product-box .contant .box:hover .icon {
  right: 14px !important;
  transition: 0.3s;
}

.products .container .product-box .contant .box .img-box .icon li:first-of-type {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.products .container .product-box .contant .box .img-box .icon li:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.products .container .product-box .contant .box .img-box .icon li {
  list-style: none;
  color: #010f1c;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.products .container .product-box .contant .box .img-box .icon li.confirmation svg {
  display: none !important;
}

.products .container .product-box .contant .box .img-box .icon li.confirmation {
  background: #31b331 !important;
}

.products .container .product-box .contant .box .img-box .icon li.confirmation::after {
  position: relative;
  top: -2px;
  content: "✓";
  color: #fff;
}

.products .container .product-box .contant .box .img-box .icon li svg {
  pointer-events: none;
}

.products .container .product-box .contant .box .img-box .icon li:hover {
  color: #fff;
  background: #6a33e9;
  transition: 0.3s;
}

.products .container .product-box .contant .box .detail {
  margin-top: 10px;
  pointer-events: none;
}

.products .container .product-box .contant .box .detail p {
  color: #9a9a9a;
  font-size: 14px;
}

.products .container .product-box .contant .box .detail h3 {
  font-size: 16px;
  margin-top: 8px;
  color: #010f1c;
  transition: 0.3s;
}

.products .container .product-box .contant .box:hover .detail h3 {
  color: #6a33e9;
}

.products .container .product-box .contant .box .detail h4 {
  margin-top: 5px;
  font-size: 14px;
  color: #6a33e9;
  font-weight: 800;
  font-size: 20px;
}

.product-detail {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.24);
  padding: 30px 40px;
  z-index: 1;
  top: 0;
}

.product-detail .container {
  width: 1000px;
  height: 550px;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24);
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.product-detail .container .close-button {
  border: none;
  outline: none;
  background: none;
  font-size: 32px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  transition: 0.3s;
  color: #9a9a9a;
}

.product-detail .container .close-button:hover {
  color: #010f1c;
  transition: 0.3s;
}

.product-detail .container .product-box {
  max-width: 100%;
  display: flex;
  padding: 20px 30px;
  margin-top: 20px;
  justify-content: space-between;
}

.product-detail .container .product-box .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  width: 350px;
  height: 350px;
  background: #f1f1f1;
}

.product-detail .container .product-box .img-box img {
  width: 250px;
  height: 250px;
}

.product-detail .container .product-box .detail {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 10px;
}

.product-detail .container .product-box .detail h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 200;
  color: #9a9a9a;
  letter-spacing: 1px;
  margin-top: -10px;
}

.product-detail .container .product-box .detail h2 {
  margin-top: 20px;
  font-size: 28px;
  color: #010f1c;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.product-detail .container .product-box .detail h3 {
  margin-top: 20px;
  color: #6a33e9;
  font-size: 32px;
  letter-spacing: 1px;
}

.product-detail .container .product-box .detail p {
  margin-top: 10px;
  color: #4a4a4a;
}

.product-detail .container .product-box .detail button {
  margin-top: 30px;
  padding: 15px 60px;
  font-size: 18px;
  color: #fff;
  background: #010f1c;
  transition: 0.3s;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.product-detail .container .product-box .detail button.confirmation {
  background: #31b331 !important;
}

.product-detail .container .product-box .detail button:hover {
  background: #6a33e9;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .products p+.products {
    padding: 0 !important;
  }

  .products .container .filter {
    flex-direction: column;
    padding: 0;
    margin-top: 40px;
  }

  .products .container .filter .categories {
    margin-bottom: 40px;
  }

  .products .container .filter .brand {
    margin-left: -5px;
  }
}

@media (max-width: 360px) {
  .products h2,
  .products h2 .products-icon {
    font-size: 30px !important;
  }

  .products .container .filter .categories ul li {
    line-height: 0.6;
  }

  .products .container .filter .brand {
    margin-left: -40px;
  }
}