.account-container {
  padding: 30px 40px;
  background: var(--grey-color-variation-3);
}

.account-container .hidden {
  display: none !important;
}

.account-container h2 {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--text-black);
}

.account-container h2 .account-icon {
  position: relative;
  top: 6px;
  font-size: 32px;
}

.account-container p {
  display: inline-block;
  color: var(--grey-color-variation-1);
  margin-top: 10px;
  margin-right: 5px;
}

.account-container p .chevron {
  position: relative;
  top: 2px;
}

.account-container p .link {
  text-decoration: none;
  color: var(--grey-color-variation-1);
  transition: 0.3s;
}

.account-container p .link:hover {
  color: var(--primary-color);
  transition: 0.3s;
}

.account-container .search-results.hide {
  display: none;
}

.account-container .search-results .term {
  color: var(--primary-color);
  font-weight: bold;
}

.account-container .account-container-header {
  display: flex;
  justify-content: space-between;
}

.account-container>.container {
  display: flex;
  padding: 20px 120px;
  margin-top: 20px;
}

.account-container>.container .settings {
  border-right: 2px solid var(--border-color);
  width: 30%;
}

.account-container>.container .settings h3 {
  margin-bottom: 20px;
}

.account-container>.container .settings ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.account-container>.container .settings ul li {
  padding: 10px;
  padding-left: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: var(--grey-color-variation-1);
  transition: 0.3s;
  max-width: 165px;
}

.account-container>.container .settings ul li.selected {
  color: var(--text-black);
}

.account-container>.container .settings ul li.logout:hover {
  color: var(--text-red);
}

.account-container>.container .settings ul li:hover {
  color: var(--text-black);
  transition: 0.3s;
}

.account-container>.container .setting-item {
  flex: 1;
  padding-left: 10%;
}

.account-container>* {
  transition: 0.3s;
}

/* Settings mobile */
.account-container .settings-mobile li {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 180px !important;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  padding: 20px 20px !important;
  padding-left: 15px !important;
}

.account-container .settings-mobile li:hover {
  border-color: var(--grey-color-variation-1);
}

.account-container .settings-mobile li.selected {
  border-color: var(--grey-color-variation-1);
}

.account-container .settings-mobile .slick-slide {
  margin-right: 10px;
}

@media (max-width: 1000px) {
  .account-container>.container {
    padding: 20px 0;
  }
}

@media (min-width: 769px) {
  .account-container .settings-mobile {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .account-container>.container {
    flex-direction: column;
  }

  .account-container>.container .settings {
    width: 100%;
    border-right: unset;
  }

  .account-container>.container .setting-item {
    padding-left: 0;
    margin-top: 30px;
  }

  .account-container>.container .settings-desktop {
    display: none !important;
  }
}