.products {
  padding: 30px 40px;
  background: var(--grey-color-variation-3);
}

.products .loading {
  width: 50px;
  padding-top: 30px;
  padding-bottom: 100px;
  margin: 0 auto;
  display: block;
}

.products h2 {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--text-black);
}

.products h2 .products-icon {
  position: relative;
  top: 6px;
  font-size: 32px;
}

.products p {
  display: inline-block;
  color: var(--grey-color-variation-1);
  margin-top: 10px;
  margin-right: 5px;
}

.products p .chevron {
  position: relative;
  top: 2px;
}

.products p .link {
  text-decoration: none;
  color: var(--grey-color-variation-1);
  transition: 0.3s;
}

.products p .link:hover {
  color: var(--primary-color);
  transition: 0.3s;
}

.products .search-results.hide {
  display: none;
}

.products .search-results .term {
  color: var(--primary-color);
  font-weight: bold;
}

.products>.products-header {
  display: flex;
  justify-content: space-between;
}

/* Ordernar produtos */
.products>.products-header .order-by {
  display: flex;
  padding-top: 10px;
}

.products>.products-header .order-by .select {
  padding-left: 6px;
  position: relative;
}

.products>.products-header .order-by .select:hover .order-type,
.products>.products-header .order-by .select:hover .icon {
  color: var(--primary-color);
  transition: 0.3s;
}

.products>.products-header .order-by .select .order-type {
  margin-top: 0;
  cursor: pointer;
  transition: 0.3s;
}

.products>.products-header .order-by .select .icon {
  cursor: pointer;
  position: relative;
  top: 4px;
  left: -4px;
  padding-left: 4px;
  color: var(--grey-color-variation-1);
  transition: 0.3s;
}

.products>.products-header .order-by .select .icon>*.hide {
  transform: rotate(0deg);
  transition: 0.3s;
}

.products>.products-header .order-by .select .icon>* {
  transform: rotate(180deg);
  transition: 0.3s;
}

.products>.products-header .order-by .select .options.hide {
  display: none;
}

.products>.products-header .order-by .select .options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  top: 30px;
  right: 8px;
  box-shadow: var(--box-shadow);
}

.products>.products-header .order-by .select .options p {
  margin-top: 0;
  margin-right: 0;
  width: 130px;
  text-align: center;
  padding: 6px 12px;
  transition: 0.3s;
  cursor: pointer;
}

.products>.products-header .order-by .select .options p:hover {
  background: var(--background-color);
}

.products>.products-header .order-by .select .options p:first-of-type {
  border-bottom: 1px solid var(--border-color);
}

.products>.products-header .order-by .select .options p.selected {
  color: var(--primary-color);
  font-weight: 600;
  transition: 0.3s;
}
/********************/

.products .container {
  max-width: 100%;
  display: flex;
}

.products .container .filter {
  display: flex;
  padding: 20px 30px;
}

.products .container .filter .categories {
  margin-right: 40px;
  width: 300px;
}

.products .container .filter .categories h3 {
  color: var(--text-black);
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
}

.products .container .filter .categories ul {
  margin-top: 10px;
  min-width: 300px;
}

.products .container .filter .categories ul li {
  list-style: none;
  margin-top: 10px;
  color: var(--text-black);
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
}

.products .container .filter .categories ul li:hover {
  color: var(--primary-color);
  transition: 0.3s;
  text-decoration: underline;
}

.products .container .brand {
  width: 100%;
}

.products .container .product-box .contant {
  display: flex;
  flex-flow: wrap row;
  flex-wrap: wrap;
}

.products .container .product-box .contant::after {
  content: "";
  flex: auto;
}

.products .container .product-pagination {
  width: 100%;
}

@media (max-width: 1110px) {
  .products-header + .products {
    padding: 30px 0;
    transition: 0.3s;
  }

  .products .container .filter {
    padding-left: 0;
    transition: 0.3s;
  }

  .products .container .filter .categories {
    margin-right: 0;
    width: auto;
  }

  .products .container .filter .categories ul {
    min-width: 200px;
  }
  
  .products .container .brand {
    padding-top: 22px;
  }
}

@media (max-width: 980px) {
  .products>.products-header .search-results {
    width: 20%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .products>.products-header {
    flex-direction: column;
  }

  .products>.products-header .search-results {
    padding: 10px 0;
    width: auto;
    text-align: left;
  }
}

@media (max-width: 540px) {
  .products .container {
    flex-direction: column;
  }
}