@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --primary-color: #6a33e9;
  --primary-color-variation: #7d4fe9;
  --text-white: #ecf2f7;
  --text-black: #010f1c;
  --text-red: #ff0000;
  --text-green: #31b331;
  --border-color: #dadada;
  --grey-color-variation-1: #9a9a9a;
  --grey-color-variation-2: #dadada;
  --grey-color-variation-3: #f0f0f0;
  --background-color: #f6f6f6;
  --background-color-green: #54b354;
  --box-shadow: #00000059 0px 3px 5px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

#root {
  overflow-x: hidden;
}

::-moz-selection { /* Code for Firefox */
  color: var(--text-white);
  background: var(--primary-color);
}

::selection {
  color: var(--text-white);
  background: var(--primary-color);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--grey-color-variation-2);
  transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--grey-color-variation-1);
  transition: 0.3s;
}